cloudpickle==2.0.0
fvcore==0.1.5.post20211023
tqdm==4.62.3
omegaconf==2.1.1
opencv-python==4.5.4.58
numpy==1.21.3
pandas==1.4.2
pathlib2==2.3.7.post1
scikit-image==0.19.2
magickwand==0.2
Wand==0.6.7
albumentations==1.2.0
